body {
    font-family: Arial, sans-serif;
    background-image: url('img/bekgron.webp');
    background-repeat: repeat;
    background-size: 100px 100px; /* Pastikan ukuran tile kecil */
    background-attachment: fixed; /* Tetap saat scroll */
    text-align: center;
    padding: 20px;
}


#container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.header-img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input, select, button {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
#result {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
